.container .callrating .rating
{
    position: relative;
    display: flex;
    margin: 20px 0;
    flex-direction: row-reverse;
}

.container .callrating .rating input
{
    position: relative;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;

}

.container .callrating
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    padding-right: 5px;
    box-shadow: -1px -1px 2px rgba(124, 51, 9, 0.25), inset 2px 2px 5px rgba(12, 163, 209, 0.25), 8px 30px 30px rgba(15, 191, 214, 0.4), inset -2px -2px 5px rgba(0,0,0,0.3);
}
.container .callrating .rating input::before
{
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 25px;
    position: absolute;
    color: #030b0f;
    transition: 0.5s;

}



.container .callrating .rating input:hover ~ input::before,
.container .callrating .rating input:hover::before,
.container .callrating .rating input:checked ~ input::before,
.container .callrating .rating input:checked::before
{
   color: orange;
}
.container h1
{
    margin-bottom: 10px;
    font-weight: bold;
    color:rgb(40, 15, 187);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container h2
{
    margin-bottom: 10px;
    font-weight: bold;
    color:rgb(243, 72, 5);
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}
a{
    text-decoration: none;
}
body{
    position: realative;
    background: rgba(130, 239, 243, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.field-icon{
    float:right;
    margin-left:30px;
    margin-top:25px;
    position:relative;
    z-index:2;
}
::selection{
    color: #ececee;
    background: #00b3ff;
}
.form{
    position: relative;
    background: rgba(230, 232, 236, 0.8);
    width: 60%;
    max-width: 1000px;
    border-radius: 24px;
    box-shadow: -3px 3px 10px -5px rgba(0,0,0,0,2);
    padding: 30px 30px;
}
.form h2{
    font-size: 30px;
    font-weight: 700;
}
.form p{
    font-size: 14px;
    padding-bottom: 8px;
}
.form form{
    margin: 8px 0;
}
.form form .profile-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
    margin: 18px 30px;
    background: #1139d6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/768px-Circle-icons-profile.svg.png");
    border-radius: 50%;
    border: 4px solid #f3f7f307;
}
.file-upload{
    position: absolute;
    top: 0;
    right: -15px;
    height: 35px;
    width: 35px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(to bottom, #006692,#f2f3f7 50%);
    background-size: 100% 200%;
    transition: all 1s;
    font-size: 14px;
    cursor: pointer;
}
form input[type="file"]{
    position: relative;
    height: 40px;
    width: 40px;
    opacity: 0;
    cursor: pointer;
    padding: 20px;
}
form i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    color: #333;
    z-index: 100;
    pointer-events: none;
    cursor: pointer;
}
.file-upload{
    background-position: 0 100%;
}
.file-upload:hover i{
    color: #2938aa;
}
.form form .error-text{
    display: none;
    color: #851923;
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    background: #ffe3e5;
    border: 1px solid #dfa5ab;
    margin-bottom: 8px;
}
.form .grid-details{
    display: flex;
}
.form .grid-details .input:first-child{
    margin-right: 8px;
    width: 100%;
}
.form .grid-details .input:last-child{
    margin-left: 8px;
    width: 100%;
}
.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding: 0 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.form form .input input:focus,
.form form .input input:valid{
    border: 2px solid #00b3ff;
    transition: 0.1s ease;
    outline: none;
}

.form form input.button{
    height: 45px;
    border: none;
    color: #f2f3f7;
    width: 100%;
    background: #006692;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 13px;
    border: 2px solid#2983aa;
}
.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}
.form .link a{
    color: #006692;
    transition: 0.5s all;
}
.form .link a:hover{
    text-decoration: underline;
}