

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}
body{
    position: relative;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
#header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #ddd;
}
#header a.logo h1{
    text-transform: uppercase;
    color: #006692;
}
button.logout_btn{
    padding: 9px 25px;
    background-color: #006692;
    border-radius: 8px;
    border: 1px solid #00b3ff;
    cursor: pointer;
    color: #f2f3f7;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
button.logout_btn:hover{
    color: #006692;
    background-color: #f2f3f7;
}
section{
    margin: 40px;
}
span{
    color: #006698;
    cursor: pointer;
    text-decoration: underline;
}